<footer>
TShop - 2024 - 
<p>
<a href="{{ path('app_rgpd') }}">GRPD</a> - <a href="{{ path('app_cgv') }}">CGV</a> <br>
<a href="{{ path('app_contact') }}">Contact</a>
</p>
<p><a href="{{ path('app_diagram') }}">Diagram</a></p>
</footer>